.card-img {
    height: 200px !important;
    width: auto !important;
}

.card {
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.5) !important;
    background-color: #ffffff !important;
    border-radius: 10px !important;
    width: 400px !important;
    overflow: hidden;
    padding: 10px;
    gap: 1rem;
    display: flex;
    flex-direction: column;
}

.card-title {
    font-size: 1.5rem !important;
}

.card-subtitle {
    font-size: 1rem !important;
}