.bookings-page-cont {
    padding-top: 80px;
    background-color: #CEF0FF;
    min-height: 100vh;
    height: fit-content;
}

.bookings-cont {
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 1rem;

    align-items: center;
}