.footer {
    background-color: #13678A;
    color: #CEF0FF;
    width: 100%;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1 !important;
}

.signature {
    font-family: "Bytesized", sans-serif;
    font-size: 60px;
    user-select: none;
}

.footerlink {
    color: #CEF0FF;
}

.tiny {
    font-size: 10px;
    opacity: 0.5;
    user-select: none;

    text-align: center;
    z-index: 2 !important;
}

.is-on-card {
    border-radius: 0 0 10px 10px;
}